@use 'variables';

@media screen and (max-width: 992px) {
    body {
        padding: 20px 0;
    }

    .hero {
        height: auto;
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        padding: 0 16px;
        
        .hero-text {
            max-width: 100%;
            height: auto;

            .skills {
                margin: calc(variables.$margin-lg * 2) 0;
            }
        }

        .hero-img {
            align-self: center;
        }
    }

    #projects {
        margin-bottom: calc(variables.$margin-lg * 2);
    }
}

@media screen and (max-width: 768px) {
    #home {
        #main-nav {
            .mobile-menu {
                display: block;
                .close,
                .hamburger {
                    width: 30px;
                    height: 30px;
                }
            }
    
            .nav-links {
                display: none !important;
                animation: slideIn .3s ease;

                a {
                    display: block;
                    border-bottom: solid 2px variables.$text-color;
                    li {
                            padding: 20px;   }
                }
                
    
                &.active {
                    display: block !important;
                    position: absolute;
                    top: 90px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    background-color: variables.$accent-color;
                }
            }   
        }
    }

    // for slide effect when opening the hamburger menu
    @keyframes slideIn {
        from {
            transform: translateX(100%); // hides the element
        }

        to {
            transform: translateX(0); // shows the element
        }   
    }

    // used by window.load function so when the screen is in mobile, the navlinks are hidden
    .hide {
        display: none;   
    }

    .hero {
            .hero-text {
                h1 {
                    font-size: variables.$font-size * 1.8;
                }
            }
    
            .btn {
                &-primary {
                    width: 100%;
                    margin: 10px 0;
                }
    
                &-secondary {
                    width: 100%;
                    margin: 10px 0;
                }
            }
    
            .skills {
                h2 {
                    text-align: center;
                }
            }
        }
    
        #projects {
            .prj-content {
    
                .prj-box {
                    text-align: center;
                    height: 100%;
                    flex-direction: column;
                    box-shadow: variables.$box-shadow-lg;
    
                    &:nth-child(2) {
                        flex-direction: column;
    
                        .prj-description {
                            text-align: center;
                        }
                    }
                }
            }
        }
}